[DEFAULT]
ConnectionType=acceptor
BeginString=FIX.4.4
StartTime=09:30:00
EndTime=16:00:00
UseDataDictionary=Y
DataDictionary=FIX44.xml
HeartBtInt=30
FileLogPath=log
FileStorePath=store-testServer
NonStopSession=Y

[SESSION]
# New York Stock Exchange
SenderCompID=EXCHANGE_NYSE
TargetCompID=GATEWAY
SocketAcceptPort=25001
FileLogPath=log/NYSE
FileStorePath=store/NYSE

[SESSION]
# NYSE American LLC
SenderCompID=EXCHANGE_NYSEAmerican
TargetCompID=GATEWAY
SocketAcceptPort=25002
FileLogPath=log/NYSEAmerican
FileStorePath=store/NYSEAmerican

[SESSION]
# NYSE Arca Inc
SenderCompID=EXCHANGE_NYSEArca
TargetCompID=GATEWAY
SocketAcceptPort=25003
FileLogPath=log/NYSEArca
FileStorePath=store/NYSEArca

[SESSION]
# NASDAQ Stock Market LLC
SenderCompID=EXCHANGE_NASDAQ
TargetCompID=GATEWAY
SocketAcceptPort=25004
FileLogPath=log/NASDAQ
FileStorePath=store/NASDAQ

[SESSION]
# Investors Exchange LLC (IEX)
SenderCompID=EXCHANGE_IEX
TargetCompID=GATEWAY
SocketAcceptPort=25005
FileLogPath=log/IEX
FileStorePath=store/IEX

[SESSION]
# Long-Term Stock Exchange Inc (LTSE)
SenderCompID=EXCHANGE_LTSE
TargetCompID=GATEWAY
SocketAcceptPort=25006
FileLogPath=log/LTSE
FileStorePath=store/LTSE

[SESSION]
# MEMX LLC
SenderCompID=EXCHANGE_MEMX
TargetCompID=GATEWAY
SocketAcceptPort=25007
FileLogPath=log/MEMX
FileStorePath=store/MEMX

[SESSION]
# MIAX Pearl LLC
SenderCompID=EXCHANGE_MIAXPearl
TargetCompID=GATEWAY
SocketAcceptPort=25008
FileLogPath=log/MIAXPearl
FileStorePath=store/MIAXPearl

[SESSION]
# MIAX Emerald LLC
SenderCompID=EXCHANGE_MIAXEmerald
TargetCompID=GATEWAY
SocketAcceptPort=25009
FileLogPath=log/MIAXEmerald
FileStorePath=store/MIAXEmerald

[SESSION]
# MIAX Exchange LLC
SenderCompID=EXCHANGE_MIAX
TargetCompID=GATEWAY
SocketAcceptPort=25010
FileLogPath=log/MIAX
FileStorePath=store/MIAX

[SESSION]
# Cboe Exchange Inc
SenderCompID=EXCHANGE_CBOE
TargetCompID=GATEWAY
SocketAcceptPort=25011
FileLogPath=log/CBOE
FileStorePath=store/CBOE

[SESSION]
# Cboe BYX Exchange Inc
SenderCompID=EXCHANGE_CBOEBYX
TargetCompID=GATEWAY
SocketAcceptPort=25012
FileLogPath=log/CBOEBYX
FileStorePath=store/CBOEBYX

[SESSION]
# Cboe BZX Exchange Inc
SenderCompID=EXCHANGE_CBOEBZX
TargetCompID=GATEWAY
SocketAcceptPort=25013
FileLogPath=log/CBOEBZX
FileStorePath=store/CBOEBZX

[SESSION]
# Cboe EDGA Exchange Inc
SenderCompID=EXCHANGE_CBOEEDGA
TargetCompID=GATEWAY
SocketAcceptPort=25014
FileLogPath=log/CBOEEDGA
FileStorePath=store/CBOEEDGA

[SESSION]
# Cboe EDGX Exchange Inc
SenderCompID=EXCHANGE_CBOEEDGX
TargetCompID=GATEWAY
SocketAcceptPort=25015
FileLogPath=log/CBOEEDGX
FileStorePath=store/CBOEEDGX

[SESSION]
# Cboe C2 Exchange Inc
SenderCompID=EXCHANGE_CBOEC2
TargetCompID=GATEWAY
SocketAcceptPort=25016
FileLogPath=log/CBOEC2
FileStorePath=store/CBOEC2

[SESSION]
# BOX Exchange LLC
SenderCompID=EXCHANGE_BOX
TargetCompID=GATEWAY
SocketAcceptPort=25017
FileLogPath=log/BOX
FileStorePath=store/BOX

[SESSION]
# 24X National Exchange LLC
SenderCompID=EXCHANGE_24X
TargetCompID=GATEWAY
SocketAcceptPort=25018
FileLogPath=log/24X
FileStorePath=store/24X

[SESSION]
# Green Impact Exchange LLC
SenderCompID=EXCHANGE_GIX
TargetCompID=GATEWAY
SocketAcceptPort=25019
FileLogPath=log/GIX
FileStorePath=store/GIX
